@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Кольори
$mainColor: #807d7e;
$darkColor: #3c4242;
$purplColor: #8a33fd;
$liteColor: #f6f6f6;

// Функції
@import "_functions.scss";

@import "_reset.scss";
// Компоненти
@import "_header.scss";
@import "_footer.scss";
body {
	color: $mainColor;
	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	@media (max-width: toEm(540)) {
		padding-bottom: toRem(75);
	}
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: #{toRem($maxWidthContainer)};
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}

// Сторінки

.delivery {
	padding: 15px 12px;
	// .delivery__title
	&__title {
		position: relative;
		font-size: 16px;
		&::after {
			content: "";
			display: block;
			width: 102%;
			height: 1px;
			background-color: #000;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	// .delivery__list

	&__list {
	}

	// .delivery__item

	&__item {
	}
}
